@mixin section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 1080px;
    overflow: hidden;
}

.section0 {
    @include section();
    background-color: black;
    color : white;

    .video {
        position: absolute;
    }
    
    .content {
        position: absolute;
        width : 100%;
        height: 100%;
        background-color: rgba(black, .7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
}
.section1 {
    @include section();
    color : white;
    background-color: black;

    .nameWrapper {
        overflow: hidden;
        margin: 1rem;
        .name {
            font-size: 2rem;
        }
    }

    .description {
        width : 400px;
        transform: translateX(100px);
    }

    @mixin square {
        border: solid 1px rgba(white, .5);
    }

    .squareWrapper {
        position: absolute;
    }

    .squareLeft {
        @include square();
        width : 252px;
        height: 252px;
    }
    
    .squareRight {
        @include square();
        width : 512px;
        height: 512px;
    }
    
}

.section2 {
    @include section();

    .video {
        position: absolute;
    }

    .stage {
        position: absolute;
        width : 100%;
        height: 100%;
        background-color: white;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode:color-dodge;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .panel {
        position: absolute;
        width: 550px;
        height: 550px;
        will-change: transform;
    }

    .content {
        width : 100%;
        height: 100%;
        background-color: rgba(black, 1);
        will-change: transform;
    }

    @for $i from 0 to 6 {
        .panel:nth-child(#{$i + 1}) {
            transform: rotateY(calc(#{$i} * 60deg)) translateZ(800px);
            .content {
                animation: updown 4s infinite calc(#{$i} * .6s);
            }
        }
    }

    .message {
        color : black;
        font-size: 8rem;
        line-height: 1.5;
        white-space: nowrap;
    }

    .messageWrapper {
        position: absolute;
        top : 190px;
        right : 2rem;
        overflow: hidden;
    }
}